<h2>Login</h2>
<% if @errors %>
  <% @errors.each do |error| %>
    <%= error %>
  <% end %>
<% end %>
<form method="POST" action="/sessions">
  <label for= "username">Username:</label>
  <input type="text" name="user[username]">
  <label for= "password">Password:</label>
  <input type="password" name="user[password]">
  <input class="log-reg-submit" type="submit" value="Login">
</form>
