<div class="question-summary">
  <form method="post" action="/<%=commentable.class.to_s.downcase + 's'%>/<%= commentable.id %>/comment" class="text-form">
      <textarea type="text" name="body" placeholder="Type comment here"></textarea>
      <input type="submit" value="Add Comment">
  </form>
</div>
