<h3>Add an answer</h3>
<% if @errors %>
  <% @errors.each do |error| %>
    <%= error %>
  <% end %>
<% end %>
<form id="add-answer" method="POST" action="/questions/<%= @question.id %>/answers">
  <input type="hidden" name="answer[question_id]" value="<%= @question.id %>">
  <textarea type="text" name="answer[body]" placeholder="Your answer"></textarea>
  <input type="submit" value="Answer">
</form>
