<form method="post" action="/<%=voteable.class.to_s.downcase + 's'%>/<%= voteable.id %>/vote" class="vote-form">
    <input type="hidden" name="points" value="<%=vote_value%>">
    <input type="submit" value="<%= vote_type %>">
</form>
